In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import os

In [3]:
data = pd.read_csv('test.csv')
data.head()

,segment_ID,trans_mode,former_trans_mode,latitude,longitude,date,time
0,Data\085_20081211234130_bus,bus,None,39.897337,116.343463,2008-12-11,23:41:30
1,Data\085_20081211234130_bus,bus,None,39.898386,116.343125,2008-12-11,23:41:32
2,Data\085_20081211234130_bus,bus,None,39.898262,116.343126,2008-12-11,23:41:34
3,Data\085_20081211234130_bus,bus,None,39.898269,116.343146,2008-12-11,23:41:36
4,Data\085_20081211234130_bus,bus,None,39.898273,116.343155,2008-12-11,23:41:38